{
  "extends": [
    "airbnb",
    "prettier/react",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "jest"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "_": true
  },
  "rules": {
    "indent": ["error", 2],
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "padded-blocks": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off"
  }
}
